{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="col-12">
        <form class="row" method="get" action="{% url 'users:logout' %}">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <button type="submit" class="btn btn-primary">
                            Выйти
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}