<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
</head>
<body>
    <p>Здравствуйте!</p>
    <p>Вы получили это письмо, потому что мы получили запрос на сброс пароля для вашего аккаунта.</p>
    <p>Пожалуйста, перейдите по ссылке ниже, чтобы установить новый пароль:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Сбросить пароль</a></p>
    <p>Если вы не запрашивали сброс пароля, пожалуйста, проигнорируйте это письмо.</p>
    <p>С уважением,<br>Команда поддержки {{ site_name }}</p>
</body>
</html>>